<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome  to the web page</h1>
   <a href="login">  <button>Click for Login</button> </a>
   <a href="signup">  <button>Click for sign-up</button> </a>
</body>
</html>